.eb_mobcont
{
	display:inline-block;
	position:relative;
	overflow-x:hidden;
	overflow-y:auto;
	width:100%;
}
.goods_type_tbl th
{
	padding:1px;
	background:#000;
	color:#666;
	font-size:9px;
	text-transform:uppercase;
	letter-spacing:3px;
}
.eb_manage_table 
{
	%width:100%
}
.eb_manage_table td
{
	min-height:40px;
	border:1px dotted #888;
	background: #AAA;
	padding:0px!important;
	margin:1px;
	color:#111;
	text-align:center;
	font-size:10px;
	font-family:Verdana, Arial;
	vertical-align:middle;
}
.eb_managegbpicto
{
	width:70px;
	height:70px;
	border:1px solid #444;
	background:#666;
	display:inline-block;
	position:relative;
	margin:3px;
	cursor:pointer;
	padding:5px;
}
.eb_managegbpicto span
{
	vertical-align: middle;
    margin: auto 1px;
    padding: 10px;
    display: inline-block;
}
.eb_disbl
{
	background:transparent;
	color:#555;
	border:1px dotted #555;
}
.eb_refresh
{
	position:absolute;
	top:1px;
	left:3px;
	display:inline-block;
	color:#CCC;
	font-size:18px;
	cursor:pointer;
	
}
.eb_refresh:hover
{	
	color:#FFF;
}

.event_contents
{
    border-color: rgba(255, 255, 255, 0.25)!important;
	background-color:rgba(0,0,0,0.25);
}
.cell_0 h3
{
	padding-left:27px!important;
}
.bb_container .bank_report td
{
	background:rgba(14, 14, 16, 0.9)!important;
}
.cell_0  .smp_evgt_table td
{
	#color:#000;
	background:transparent;
}
.cell_0  .smp_evgt_table th
{
	#color:#000;
	background:rgba(255,255,255,0.125);
	padding: 0.5em 0;
}
.bb_container
{
	display:block;
	overflow-y:auto;
	overflow-x:hidden;
}
.cell_0  .shref,
.cell_0  .un_shref 
{
	color:#AAA;
}

.cell_0  .shref:hover
{
	border-color:#AAA;
}
.eb_fc_over
{
	height:0px; 
	background: rgba(0,0,0,0.5);
	padding:5px;
	overflow:hidden;
	-webkit-transition: all 600ms ease-out;
	-moz-transition: all 600ms ease-out;
	-ms-transition: all 600ms ease-out;
	-o-transition: all 600ms ease-out;
	transition: all 600ms ease-out;
}

.cell_0  .star_negative,
.cell_0  .star_negative-empty 
{
	color:#FF0000;
}
.cell_0 .star,
.cell_0 .star-empty
{
	color:#FF9999;
} 

.eb_open_clap
{
	height:70px;
}
.cell_0  input[type=range]::-webkit-slider-runnable-track 
{
	background:rgba(0,0,0,0.5);
}


#eb_cyrcle_menu
{
	position:absolute;
	display:inline-block;
	background:#444;
	width:140px;
	height:140px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	z-index:90;
	-webkit-box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.5);
	box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.5);
	border:4px solid #111;
	-webkit-transition: all 600ms ease-out;
	-moz-transition: all 600ms ease-out;
	-ms-transition: all 600ms ease-out;
	-o-transition: all 600ms ease-out;
	transition: all 600ms ease-out;
}
#eb_cm_shtrich
{
	background: transparent;
    border-top: 5px solid red;
    border-left: 5px solid red;	
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent;
    -webkit-border-radius: 50%;
    border-radius: 100%0 0 0;
    z-index: -2;
    width: 75px;
    height: 75px;
    position: absolute;
    top: -12px;
    left: -12px;
}
.eb_cbutton,
.eb_cbutton2
{
	display:inline-block;
	position:absolute;
	width:50px;
	height:50px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	background:#777;
	border:2px solid #111;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	cursor:pointer;
}
.eb_cbutton:hover,
.eb_cbutton2:hover
{
	background:#AAA;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.eb_cbutton2
{
	width:60px;
	height:60px;
	background:#666;
}
.eb_cbutton2:hover
{
	background:#888;
}
.eb_cbutton img,
.eb_cbutton2 img
{
	width:35px;
	height:auto;
	margin:5px 0 0 5px;
}
.eb_cbutton2 img
{
	margin:10px 0 0 10px;
}
.eb_float_wigetc
{
	display:inline-block;
	position:absolute;
	z-index:200000;
	#max-width:500px;
	min-width:200px;
	#max-height:500px;
	min-height:100px;
	background-color:#444;
	color:#EEE;
	font-size:19px;
	font-family:Ubuntu Condensed, Arial, serif;
	border:1px solid #111;
	
}
.cell_0 .uparblock
{
	font-size:16px;
	font-family:Open Sans Condensed, Arial, serif;
}
.eb_float_cont .smc_switcher_head,
.eb_float_cont .smc_switch_slide
{
	margin:0;
	padding:0;
}
.eb_float_cont h1, 
.eb_float_cont h2,
.eb_float_cont h3,
.eb_float_cont h4
{
	color:#EEE;
	margin:0;
	padding:0;
	font-weight:normal;
	padding:0 4px;
}
.eb_float_cont
{
	overflow-x:hidden;
	overflow-y:scroll;
}

.eb_float_cont .bank_report td,
.eb_float_cont .lp-batch-table td
{
	color:#000;
}
.eb_float_cont::-webkit-scrollbar,
.bb_container::-webkit-scrollbar
{
	width: 15px;  /* for vertical scrollbars */
	height: 15px; /* for horizontal scrollbars */
}

.eb_float_cont::-webkit-scrollbar-track,
.bb_container::-webkit-scrollbar-track
{
	background: transparent;
}

.eb_float_cont::-webkit-scrollbar-thumb,
.bb_container::-webkit-scrollbar-thumb
{
	background: rgba(255, 255, 255, 0.33);
	-webkit-border-radius: 10px;
	border-radius: 18px;
	height:30px;
}
.eb_float_cont::-webkit-scrollbar-thumb:hover,
.bb_container::-webkit-scrollbar-thumb:hover
{
	background: rgba(255, 255, 255, 0.5);
}
.eb_float_cont::-webkit-scrollbar-thumb:active
{
	background: #EFEFEF;
}
.eb_float_cont::-webkit-scrollbar-track-piece,
.bb_container::-webkit-scrollbar-track-piece
{
   width:2px;
}

.eb_float_cont::-webkit-scrollbar-button:end:increment, 
.bb_container::-webkit-scrollbar-button:end:increment 
{
    display: block;
	width: 8px;
	height:0px;
	pointer-events: none;
	background:transparent;
}

.eb_float_cont .smp-pr-title, 
.eb_float_cont .tab_button,
.eb_float_cont .tab_header
{
	background:transparent;
}
.eb_float_cont .smp-pr-title-current,
.eb_float_cont .tab_button_active
{
	color:#111;
	background:rgba(255,255,255,0.75);
}
.eb_float_title_cont
{
	display:inline-block;
	position:relative;
	overflow:hidden;
	height:30px;
	vertical-align:middle;
	margin-left:12px;
}
.eb_float_title_cont .smc_switch_button,
.eb_slider_container .smc_switch_button  
{
	padding:5px 13px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background:transparent;
	color:#AAA;
	font-size:12px;
	font-family:Ubuntu Condensed, Arail;
	
}
.eb_float_title_cont .smc_switch_button_release,
.eb_slider_container .smc_switch_button_release
{
	color:#FFF;
	background:rgba(0,0,0,0.75);
	border:1px solid rgba(255,255,255,0.25);
} 

.eb_float_cont .ab,
.eb_float_cont .ob
{
	color:#EFEFEF;
	background:rgba(0,0,0,.25);
}
.eb_float_cont .ab
{
	background:rgba(0,0,0,.5);
}
.eb_float_title
{
	position:relative;
	display:block;
	background:#222;
	cursor:pointer;
	padding:8px 10px;
    padding: 9px 10px;
    font-size: 16px;
}
.tbhr
{
	border-bottom:1px dotted #777;
	border-bottom:1px dotted #777;
	height:2px;
}
.eb_float_close, .eb_float_shpile
{
	position: absolute;
    top: 8px;
    right: 22px;
	cursor:pointer;
}
.eb_float_close:hover, .eb_float_shpile:hover
{
	color:#AAA;
	background:#333;
}
.eb_float_close:active, .eb_float_shpile:active
{
	background:#990000;
}
.eb_float_close:after, .eb_float_shpile:after
{
	content: "\f158";
	padding:3px;
	background:#000;
	border:#555 solid  1px;
	font-size:30px!important;
}
.eb_float_shpile
{
	 right: 65px;
	 display:none;
}
.eb_float_shpile:after
{
	content: "\f109";
}
.eb_float_sizer
{
	position:absolute;
	bottom:-5px;
	right:0;
	cursor:pointer;
	opacity:0.5;
}

.eb_float_sizer:hover
{
	opacity:1;
}
#top_menu
{
	display:inline-block;
	position:absolute;
	top:0;
	left:1px;
	font-size:0.7em;
	z-index:100;
}
.tmenuec
{	
	position:relative;
	display:inline-block;
}
.tmenuelem,
.tsmenuel
{
	color:#AAA;
	cursor:pointer;
	background:#444;
	position:relative;
	padding:13px 10px; 
	display: inline-block;
	border-bottom:1px dotted #333;
	
}
.tsmenuel
{
	#padding:7px 10px; 
	min-width:160px;
	display: inline-block;
	border-bottom:1px dotted #333;
	text-transform:uppercase;
}
.tmenuelem:hover,
.tsmenuel:hover
{
	color:#EEE;
	background:#333;
}
.top_submenu
{
	display:inline-block;
	position:absolute;
	top:42px;
	left:0;
	display:none;
}
.tsmenuel span
 {
	vertical-align:top;
	padding-right:11px;
 }
 .tsmenuel table
 {
	margin:0;
	border:0;
 }
.tsmenuel td
{
	border: 0;
    margin: 0;
    padding: 0;
    padding-right: 12px;
    vertical-align: middle;
    line-height: 1;
}
.tsmenucom 
{
	position:absolute;
	right:2px;
	top:2px;
}